*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    height: 100vh;
    border-color: black;
    border: 10px solid #000000;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.top_section h2{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.top_section h4{
    text-align: end;

}
.image_container{
    border-radius: 60px;
    overflow: hidden;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.image_container, img{
    width: 300px;
    height: 320px;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 30px;
    
}
.about_section p{
    margin-top: 20px;
    text-align: justify;
    
}